{% extends "./base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static "pages/concept.css" %}">
{% endblock style %}
{% block title %}Concept{% endblock title %}
{% block content %}
<div>
  <h1>How does our search engine work?</h1>
  <h2>Content-Based Information Retrieval (CBIR)</h2>
  <div class="teks_cbir">
    <p>
      Pada tools ini, kami menggunakan CBIR. CBIR adalah proses mencari gambar berdasarkan kontennya, bukan teks atau kata kunci. Namun, pada website ini kami hanya menyediakan pencarian berdasarkan dua pilihan, yaitu warna atau tekstur. Proses CBIR ini melibatkan langkah-langkah berikut:
      <ul>
        <li>Ekstraksi fitur-fitur penting dari gambar, seperti warna, tekstur, dan bentuk.</li>
        <li>Representasi fitur-fitur tersebut dalam bentuk vektor atau deskripsi numerik.</li>
        <li>Pencocokan vektor-fitur gambar yang dicari dengan vektor-fitur gambar dalam dataset menggunakan algoritma tertentu.</li>
        <li>Pengurutan dan penampilan gambar yang paling mirip dengan gambar yang dicari.</li>
      </ul>
      CBIR membantu pengguna mengakses dan mengeksplorasi koleksi gambar dengan lebih efisien, karena berdasarkan kesamaan nilai citra visual antara gambar-gambar tersebut.
    </p>
  </div>
  <h2>Pencarian Berdasarkan Warna</h2>
  <div class="teks_warna">
    <p>
      Salah satu parameter penting dalam CBIR adalah warna, di mana distribusi warna pada citra digunakan sebagai dasar untuk perbandingan dan pencarian citra serupa. Metode CBIR dengan parameter warna dapat melibatkan ekstraksi fitur warna, seperti histogram warna, atau menggunakan representasi warna dalam bentuk ruang warna tertentu yang dalam hal ini kami menggunakan HSV. Pada saat melakukan pencarian, citra-citra dalam basis data diberi label dan diurutkan berdasarkan kesamaan distribusi warna.</div>
    </p>
  </div>
  <h2>Pencarian Berdasarkan Tekstur</h2>
  <div  class="teks_tekstur">
    <p>
      Content-Based Image Retrieval (CBIR) dengan parameter tekstur berfokus pada penggunaan informasi tekstur sebagai dasar untuk mengidentifikasi dan mengambil citra serupa dalam suatu basis data. Tekstur mencakup pola-pola detail dan struktur dalam citra, dan dalam CBIR, metode ini mengekstrak fitur tekstur untuk memberikan representasi semantik citra. Kami menggunakan teknik ekstraksi fitur tekstur dengan co-occurrence matrix untuk menggambarkan karakteristik distribusi intensitas piksel dan hubungan spasialnya. Dalam fase pencarian, algoritma CBIR dengan parameter tekstur membandingkan citra-citra berdasarkan kemiripan fitur tekstur mereka, sehingga memungkinkan identifikasi dan pengambilan citra berdasarkan struktur dan pola yang ada di dalamnya.
    </p>
  </div>
{% endblock content %}
