{% extends "./base.html" %} {% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "pages/how_to_use.css" %}">
{% endblock style %}

{% block title %} How To Use {% endblock title %}
{% block content %}
<div>
  <h1>Guide to use this tool</h1>
  <ol class="langkah_container">
    <li class="langkah">Klik tombol “Upload Dataset” dan pilih semua gambar yang ingin dijadikan dataset (bukan dalam bentuk folder).</li>
    <div class="div_langkah">
      <img class="foto_langkah" src="{% static "images/step_1.jpg" %}" alt="Ilustration of Step 1">
    </div>
    <li class="langkah">Drag file gambar yang ingin kamu cari ke “Insert Image Here”.</li>
    <img class="foto_langkah" src="{% static "images/step_2.jpg" %}" alt="Ilustration of Step 2">
    <li class="langkah">Pilih opsi pencarian berdasarkan warna atau tekstur.</li>
    <img class="foto_langkah" src="{% static "images/step_3.jpg" %}" alt="Ilustration of Step 3">
    <li class="langkah">Tekan tombol search untuk mencari gambar.</li>
    <img class="foto_langkah" src="{% static "images/step_4.jpg" %}" alt="Ilustration of Step 4">
    <li class="langkah">Gambar telah selesai dicari.</li>
    <img class="foto_langkah" src="{% static "images/step_5.jpg" %}" alt="Ilustration of Step 5">
  </ol>
</div>
{% endblock content %}