{% extends "./base.html" %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static "pages/index.css" %}">
{% endblock style %}
{% block title %}
  Landing Page
{% endblock title %}
{% block content %}
  <div class="index-container">
    <div class="header">
      <img src="{% static "images/logo.png" %}" alt="Logo" width="96" height="96">
      <h1>REVERSE IMAGE SEARCH</h1>
    </div>
    <div class="main-container">
      <main class="image-container">
        {% if image %}
          <img src="{% static 'media/test.jpg' %}"
               alt="Image"
               width="400"
               height="400">
        {% else %}
          <img src="{% static 'images/screenshot.svg' %}"
               alt="Logo"
               width="400"
               height="400">
        {% endif %}
      </main>
      <form method="post" enctype="multipart/form-data" class="upload-image">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="upload-box">
          <label for="id_file">
            <p>Insert Image</p>
            <p>Here</p>
          </label>
          <img src="{% static 'images/upload.png' %}"
               alt="Upload"
               width="96"
               height="96">
        </div>
        <div class="search-form">
          <button type="submit" name="button" id="button">Search</button>
          <select class="form-select" name="cbir_mode" id="cbir_mode">
            <option selected value="color">Color</option>
            <option value="texture">Texture</option>
          </select>
        </div>
      </form>
    </div>
    {% if page_obj %}
      <div class="pagination">
        <div class="divider"></div>
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&lt</a>
          {% else %}
            <a href="#">&lt</a>
          {% endif %}
          <span class="current">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt</a>
          {% else %}
            <a href="#">&gt</a>
          {% endif %}
        </span>
        <div class="divider"></div>
      </div>
      <div class="query">
        {% for file in page_obj %}
          <img src="{% static file %}" alt="query" width="480" height="280" />
        {% endfor %}
      </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="upload-dataset">
      {% csrf_token %}
      {{ dataset_form.as_p }}
      <button type="submit" class="label-folder">UPLOAD DATASET</button>
    </form>
  </div>
{% endblock content %}
